.container {
  width: 100%;
  flex-direction: column;
  gap: 1.2rem;
  display: flex;
  align-items: center;
}

.modal {
  width: clamp(16rem, 90vw, 22rem);
  /* Responsive width */
  max-width: 25rem;
  padding: 1.5rem;
  padding-left: clamp(0.6rem, 5%, 1.5rem);
  padding-right: clamp(0.6rem, 5%, 1.5rem);
  border-radius: 1.25rem;
  background: rgb(var(--crust));
  box-shadow: 0 0.25rem 0.5rem 0 rgb(var(--shadow));
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(var(--title));
  text-align: center;
  margin-bottom: 1.5rem;
}

.button {
  width: 100%;
  height: 2.5rem;
  margin: 0.9rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  cursor: pointer;
  gap: 0.5rem;
  text-align: center;
  padding: 0 0.9rem;
}

.loginGoogle {
  background-color: rgb(var(--google));
  color: rgb(var(--white));
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.loginGoogle:hover {
  background-color: rgb(var(--googleHover));
}

.loginGithub {
  background-color: rgb(var(--github));
  color: rgb(var(--white));
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.loginGithub:hover {
  background-color: rgb(var(--githubHover));
}

.loginGitlab {
  background-color: rgb(var(--gitlab));
  color: rgb(var(--white));
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.loginGitlab:hover {
  background-color: rgb(var(--gitlabHover));
}

.loginEmail {
  background-color: rgb(var(--surface1));
  color: rgb(var(--text));
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-bottom: 0;
}

.loginEmail:hover {
  background-color: rgb(var(--surface0));
}

.lineWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  width: calc(50% - 1.5rem);
  height: 1px;
  background-color: rgb(var(--text));
  margin: 0;
  flex-shrink: 0;
}

.dividerText {
  color: rgb(var(--text));
  padding: 0 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}

.fullWidthDivider {
  width: calc(100%);
  height: 1px;
  background-color: rgb(var(--text));
  margin: 0;
  flex-shrink: 0;
}

.unborderbutton {
  height: 1.5rem;
  border: 1.5px solid rgb(var(--overlay0));
  background: none;
  border-radius: 0.5rem;
  color: var(--);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
  padding: 1rem 0.5rem;
  color: rgb(var(--text));
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.unborderbutton:hover {
  background-color: rgba(var(--overlay0), 0.5);
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
}

.link {
  color: rgb(var(--blue));
  font-weight: bold;
  display: flex;
  gap: 0.2rem;
}

.link:hover {
  text-decoration: underline;
}

.linkForgotPassword {
  color: rgb(var(--blue));
  font-weight: bold;
  display: block;
  margin-top: 1.2rem;
  text-align: center;
}

.linkForgotPassword:hover {
  text-decoration: underline;
}

.footerMessageHighlight {
  color: rgb(var(--peach));
  font-weight: bold;
}

.inputWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputField {
  width: 100%;
  height: 2.5rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(var(--surface1));
  background-color: rgb(var(--surface1));
  color: rgb(var(--text));
  font-size: 1rem;
  outline: none;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.inputFieldUsername{
  margin-top: 1rem;
}

.inputField:focus {
  border-color: rgb(var(--surface0));
  background-color: rgb(var(--surface0));
}

.loginButton {
  width: 100%;
  height: 2.5rem;
  padding: 0.75rem;
  background-color: rgb(var(--green));
  color: rgb(var(--surface0));
  border: none;
  text-align: center;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: rgb(var(--greenHover));
}

.inputWithIcon {
  position: relative;
}

.inputWithIconInput {
  padding-left: 2.5rem; /* Increased padding to make space for the icon */
  padding-right: 2.5rem; /* Increased padding to make space for the icon */

}

.inputWithIconIcon {
  position: absolute;
  left: 0.75rem; /* Increased left spacing for the icon */
  top: 50%;
}
