.authHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  z-index: 10;
}

.optionGroup {
  display: flex;
  gap: 1rem;
}

/* Add a container for the modal */
.modalContainer {
  z-index: 5;
  position: fixed;
  top: 5rem; /* Header height */
  bottom: 5rem; /* Footer height */
  left: 0;
  right: 0;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.modal {
  position: relative;
  max-height: calc(100vh - 12rem);
  overflow-y: auto;
  min-height: min-content;
  max-width: fit-content;
  margin: auto;
  padding: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--mantle));
  z-index: 10;
}

.spotlightPeach {
  width: 1183px;
  height: 1183px;
  border-radius: 50%;
  position: fixed;
  top: 20%;
  left: -3%;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle,
    rgba(var(--peach), 0.5) 0%,
    rgba(var(--peach), 0) 70%
  );
  z-index: 1;
  pointer-events: none; /* Ensure spotlights don't interfere with scrolling */
}

.spotlightGreen {
  width: 1183px;
  height: 1183px;
  border-radius: 50%;
  position: fixed;
  top: 70%;
  left: 103%;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle,
    rgba(var(--green), 0.3) 0%,
    rgba(var(--green), 0) 70%
  );
  z-index: 1;
  pointer-events: none; /* Ensure spotlights don't interfere with scrolling */
}

/* Add a wrapper class for the entire layout */
.authWrapper {
  min-height: 100vh;
  position: relative;
  background-color: rgb(var(--base));
}

@media (max-width: 1000px) {
  .spotlightPeach,
  .spotlightGreen {
    display: none;
  }
}

@media (max-height: 700px) {
  .spotlightPeach,
  .spotlightGreen {
    display: none;
  }
}
