.selectLanguageIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: var(--green);
  transition: transform 0.3s ease;
  outline: none;
}

.selectLanguageIcon:hover {
  transform: scale(1.2);
}

