.selectLanguageIcon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  color: rgb(var(--green));
  transition: transform 0.3s ease;
  outline: none;
}

.selectLanguageIcon:hover {
  transform: scale(1.2);
}

