.toggleThemeIcon {
  width: 1.5rem;
  height: 1.5px;
  cursor: pointer;
  color: rgb(var(--peach));
  transition: transform 0.3s ease;
  user-select: none;
}

.toggleThemeIcon:hover {
  transform: scale(1.2);
}
