.loginBox {
  width: 90%;
  max-width: 350px;
  min-width: 250px;
  padding: 20px;
  padding-left: clamp(10px, 5%, 20px);
  padding-right: clamp(10px, 5%, 20px);
  border-radius: 20px;
  background: var(--crust);
  box-shadow: 0px 4px 8px 0px var(--shadow);
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: var(--title);
  text-align: center;
  margin-bottom: 20px;
}

.button {
  width: 302px;
  height: 40px;
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  gap: 8px;
  text-align: center;
}

.loginGoogle {
  background-color: var(--google);
  color: var(--white);
  font-weight: bold;
  transition: background-color 0.3s ease; /* 添加平滑過渡效果 */
}

.loginGoogle:hover {
  background-color: var(--googleHover); /* 調深的顏色 */
}

.loginGithub {
  background-color: var(--github);
  color: var(--white);
  font-weight: bold;
  transition: background-color 0.3s ease; /* 添加平滑過渡效果 */
}

.loginGithub:hover {
  background-color: var(--githubHover); /* 調深的顏色 */
}

.loginGitlab {
  background-color: var(--gitlab);
  color: var(--white);
  font-weight: bold;
  transition: background-color 0.3s ease; /* 添加平滑過渡效果 */
}

.loginGitlab:hover {
  background-color: var(--gitlabHover); /* 調深的顏色 */
}

.lineWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 125px;
  height: 2px;
  flex-shrink: 0;
}

.linetext {
  margin: 0 10px;
  color: var(--text);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.icon {
  width: 20px; /* 設置圖標的大小 */
  height: 20px;
}
