.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(var(--base));
}

.toggleThemeIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: rgb(var(--peach));
  transition: transform 0.3s ease; /* 添加过渡效果 */
}

.toggleThemeIcon:hover {
  transform: scale(1.2); /* 鼠标悬停时放大 */
}
